*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #5a7e86;
}

.header
{
    z-index: 1;
    background-color: #5a7e86;
    width: 100%;
    position: fixed;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Noto-Sans', sans-serif;
    padding: 20px;
}

.header > *
{
    color: #ffffff;
}

.title
{
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 135px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 110px;
    padding-right: 20px;
    text-shadow: #1f353a 3px 0 15px;
    text-align: center;
}

.title2
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 72px;
}

#hr
{
    width: 100%;
    position: absolute;
    height: 4px;
    background-color: #ffffff;
    top: 76px;
}

.link-header {
    display: inline-block;
    transition: transform 0.3s ease;
}

.link-header:hover {
    transform: scale(1.2);
}

.games-containers
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 850px;
    background-color: white;
}

.game-panel
{
    background-color: #5a7e86;
    height: auto;
    width: 34.375rem; /* 550px */
    border-radius: 50px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.game-panel-left
{
    height: 100%;
    width: 45%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-panel-right
{
    height: 100%;
    width: 60%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-up
{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-down
{
    width: 85%;
    height: 75%;
}

.game-logo
{
    height: 130px;
    image-rendering: pixelated;
}

.game-title
{
    width: 60%;
    text-align: center;
    color: white;
    font-size: 47px;
}

.game-summary
{
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 29px;
    line-height: 1.1;
    border: 2px solid white;
    border-radius: 50px;
}

.info-button
{
    width: 100%;
    height: 26%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.game-platform
{
    color: white;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.game-download
{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 55%;
    height: 80px;
    border-radius: 50px;
    color: #5a7e86;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.normal-text, .hover-text {
    position: absolute;
    transition: opacity 0.4s ease;
}

.hover-text
{
    opacity: 0;
}

.game-download:hover .normal-text {
    opacity: 0;
}

.game-download:hover .hover-text {
    opacity: 1;
}

.carousel {
    height: 440px;
    width: 781px;
    box-shadow: #1f353a 0px 0px 35px 10px;
    position: relative;
    overflow: hidden;
}

.carousel-images {
    position: relative;
    height: 100%;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel-images img.active {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5a7e86;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicators {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #5a7e86;
}

#carousel3
{
    height: 700px;
    width: 440px;
}

#carousel-images3
{
    width: 112%;
    height: 105%;
    left: -25px;
    top: -10px;
}

#carousel-images4
{
    height: 112%;
    top: -25px;
}

#carousel-images5
{
    height: 112%;
    top: -25px;
}

#carousel6
{
    height: 700px;
    width: 440px;
}

#game-container2
{
    background-color: #5a7e86;
}

#game-title2
{
    color: #5a7e86;
    font-size: 65px;
}

#game-title-onlydot
{
    font-size: 60px;
}

#game-title-dodgeinspace
{
    color: #5a7e86;
    font-size: 55px;
}

#game-title-mentalmathmaven
{
    color: #5a7e86;
    font-size: 50px;
}

#game-summary2
{
    color: #5a7e86;
    border: 2px solid #5a7e86;
}

#game-panel2
{
    background-color: white;
}

#game-download2
{
    background-color: #5a7e86;
}

#download-text2
{
    color: white;
}

#download-text2-2
{
    color: white;
}

#game-platform2
{
    color: #5a7e86;
}

.footer
{
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a7e86;
    font-size: 20px;
}

@media screen and (max-width: 1400px) {
    .game_container {
        flex-direction: column;
        height: auto;
    }

    #game-container2
    {
        flex-direction: column-reverse;
    }

    .game-panel-left, .game-panel-right {
        width: 100%;
        margin-bottom: 60px;
        margin-top: 60px;
    }
}